<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="admin_appointment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Appointments</title>

    <!-- icon trash & calendar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- sign-in icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- icon clipboard -->   
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
    <div id="nav">
        <div id="nav-menu">
            <div id="fis">
                <p>Tyre-Out</p>
            </div>
            <div id="mid">
                <a href="/admin_assign">รับการนัดหมายลูกค้า</a>
                <p>|</p>
                <a href="/admin">ดูการนัดหมาย</a>

            </div>
            <div id="las">
                <a href="#" class="disabled"><i class="fa-regular fa-user"></i></a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <!-- ดัน -->
    <div style="height: 13vh;"></div> 

    <div class="top">
        <h1 class="show-emp" id="emp-name-1"><%= user.firstName %> <%= user.lastName %></h1>
    </div>
    
        <div class="tab-box">
            <div class="tab-buttons">
                <button class="tab-btn" id="tab1" onclick="showPan(0)">การนัดหมายที่ยังมาไม่ถึง (ของคุณ)</button>
                <button class="tab-btn" onclick="showPan(1)">การนัดหมายที่ผ่านมาแล้ว (ของคุณ)</button>
                <button class="tab-btn" onclick="showPan(2)">การนัดหมายที่ยังมาไม่ถึง (ของศูนย์)</button>
                <button class="tab-btn" id="tab4" onclick="showPan(3)">การนัดหมายที่ผ่านมาแล้ว (ของศูนย์)</button>
            </div>

            <div class="tab-container-box">
                <!-- tab1 -->
                <div class="tab-content">
                     <table class="table-apmt">
                        <thead>
                            <tr id="column-row">

                                <th class="c" id="c1"  scope="col">วัน-เวลา</th>
                                <th class="c" id="c2"  scope="col">เบอร์โทร</th>
                                <th class="c" id="c3"  scope="col">ชื่อ</th>
                                <th class="c" id="c4"  scope="col">นามสกุล</th>
                                <th class="c" id="c5"  scope="col">บริการ</th>
                                <th class="c" id="c6"  scope="col">ศูนย์บริการ</th>
                                <th class="c" id="c7"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% service.forEach((element)=> { %>
                                
                            <tr class="info-row">
                            <td id="info-date-time" data-label="วัน-เวลา"><%= element.caseStartDatetime %></td>
                            <td id="info-phone" data-label="เบอร์โทร"><%= element.phoneNumber %></td>
                            <td id="info-firstname" data-label="ชื่อ"><%= element.firstName %></td>
                            <td id="info-lastname" data-label="นามสกุล"><%= element.lastName %></td>
                            <td id="info-service" data-label="บริการ"><%= element.caseCategory %></td>
                            <td id="info-branch" data-label="ศูนย์บริการ" ><%= user.centerName %></td>
                            <td id="info-service-history" data-label="วัน-เวลา" style="display: none;"><%= element.serviceHistoryId %></td>
                            <td id="info-customer-id" data-label="วัน-เวลา" style="display: none;"><%= element.customerId %></td>
                                <td id="action">
                                    <div class="button-con">
                                    <button class="quotation-button" onclick="openPopup3(this)""><i class='far'>&#xf328;</i></button>
                                    <form action="/update-case-status" method="POST">
                                        <input type="hidden" name="serviceHistoryId" value="<%= element.serviceHistoryId %>">
                                    </form>
                                    <button class="view-button" onclick="openPopup(this)"><i class="far fa-calendar-alt"></i></button>
                                    <form action="/update-case-status" method="POST" id="update-status-form">
                                        <input type="hidden" name="serviceHistoryId" value="<%= element.serviceHistoryId %>">
                                        <button type="submit" class="update-status-button"><i class="fa-solid fa-square-check"></i></button>
                                    </form>
                                    <button class="delete-button" onclick="deleteServiceHistory(<%= element.serviceHistoryId %>)"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </td>
                            </tr>

                            <%});%>
                        </tbody>
                    </table>
                </div>

                <!-- tab2 -->
                <div class="tab-content">
                    <table class="table-apmt">
                        <thead>
                            <tr id="column-row">
                                <th class="c" id="c1"  scope="col">วัน-เวลา</th>
                                <th class="c" id="c2"  scope="col">เบอร์โทร</th>
                                <th class="c" id="c3"  scope="col">ชื่อ</th>
                                <th class="c" id="c4"  scope="col">นามสกุล</th>
                                <th class="c" id="c5"  scope="col">บริการ</th>
                                <th class="c" id="c6"  scope="col">ศูนย์บริการ</th>
                                <th class="c" id="c7"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% acceptedService.forEach((element) => { %>
                                <tr class="info-row">
                                    <td id="info-date-time" data-label="วัน-เวลา"><%= element.caseStartDatetime %></td>
                                    <td id="info-phone" data-label="เบอร์โทร"><%= element.phoneNumber %></td>
                                    <td id="info-firstname" data-label="ชื่อ"><%= element.firstName %></td>
                                    <td id="info-lastname" data-label="นามสกุล"><%= element.lastName %></td>
                                    <td id="info-service" data-label="บริการ"><%= element.caseCategory %></td>
                                    <td id="info-branch" data-label="ศูนย์บริการ"><%= user.centerName %></td>
                                    <td id="info-service-history" data-label="วัน-เวลา" style="display: none;"><%= element.serviceHistoryId %></td>
                                    <td id="action">
                                        <div class="button-con">
                                            <button class="quotation-button" onclick="openPopup3(this)"><i class='far'>&#xf328;</i></button>
                                            <button class="view-button" onclick="openPopup2(this)"><i class="far fa-calendar-alt"></i></button>
                                            <button class="delete-button" onclick="deleteServiceHistory(<%= element.serviceHistoryId %>)"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                    </table>
                </div>

                <!-- tab3 -->
                <div class="tab-content">
                    <table class="table-apmt">
                        <thead>
                            <tr id="column-row">
                                <th class="c" id="c1"  scope="col">วัน-เวลา</th>
                                <th class="c" id="c2"  scope="col">เบอร์โทร</th>
                                <th class="c" id="c3"  scope="col">ชื่อ</th>
                                <th class="c" id="c4"  scope="col">นามสกุล</th>
                                <th class="c" id="c5"  scope="col">บริการ</th>
                                <th class="c" id="c6"  scope="col">ศูนย์บริการ</th>
                                <th class="c" id="c7"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allAcceptService.forEach((element) => { %>
                                <tr class="info-row">
                                    <td id="info-date-time" data-label="วัน-เวลา"><%= element.caseStartDatetime %></td>
                                    <td id="info-phone" data-label="เบอร์โทร"><%= element.phoneNumber %></td>
                                    <td id="info-firstname" data-label="ชื่อ"><%= element.firstName %></td>
                                    <td id="info-lastname" data-label="นามสกุล"><%= element.lastName %></td>
                                    <td id="info-service" data-label="บริการ"><%= element.caseCategory %></td>
                                    <td id="info-branch" data-label="ศูนย์บริการ"><%= user.centerName %></td>
                                    <td id="info-service-history" data-label="วัน-เวลา" style="display: none;"><%= element.serviceHistoryId %></td>
                                    <td id="action">
                                        <div class="button-con">
                                            <button class="quotation-button" onclick="openPopup3(this)"><i class='far'>&#xf328;</i></button>
                                            <button class="view-button" onclick="openPopup2(this)"><i class="far fa-calendar-alt"></i></button>
                                            
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                    </table>
                </div>

                <!-- tab4 -->
                <div class="tab-content">
                    <table class="table-apmt">
                        <thead>
                            <tr id="column-row">
                                <th class="c" id="c1"  scope="col">วัน-เวลา</th>
                                <th class="c" id="c2"  scope="col">เบอร์โทร</th>
                                <th class="c" id="c3"  scope="col">ชื่อ</th>
                                <th class="c" id="c4"  scope="col">นามสกุล</th>
                                <th class="c" id="c5"  scope="col">บริการ</th>
                                <th class="c" id="c6"  scope="col">ศูนย์บริการ</th>
                                <th class="c" id="c7"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allAcceptedService.forEach((element) => { %>
                                <tr class="info-row">
                                    <td id="info-date-time" data-label="วัน-เวลา"><%= element.caseStartDatetime %></td>
                                    <td id="info-phone" data-label="เบอร์โทร"><%= element.phoneNumber %></td>
                                    <td id="info-firstname" data-label="ชื่อ"><%= element.firstName %></td>
                                    <td id="info-lastname" data-label="นามสกุล"><%= element.lastName %></td>
                                    <td id="info-service" data-label="บริการ"><%= element.caseCategory %></td>
                                    <td id="info-branch" data-label="ศูนย์บริการ"><%= user.centerName %></td>
                                    <td id="info-service-history" data-label="วัน-เวลา" style="display: none;"><%= element.serviceHistoryId %></td>
                                    <td id="action">
                                        <div class="button-con">
                                            <button class="quotation-button" onclick="openPopup3(this)"><i class='far'>&#xf328;</i></button>
                                            <button class="view-button" onclick="openPopup2(this)"><i class="far fa-calendar-alt"></i></button>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                    </table>
                </div>

            </div>
        </div>

        <!-- popup ใบเสนอราคา -->
        <div  id="popup-quotation">
            <div id="fori">
                <i class="fa-solid fa-xmark" id="bac" onclick="bac1()"></i>
            </div>
            <div id="content">
    
                <div id="persona-container">
                    <div id="persona">
                        <div id="forinput">
                            <div class="eachinput">
                                <label for="name">ชื่อ</label>
                                <input class="inp" id="name" disabled>
                            </div>
                            <div class="eachinput">
                                <label for="last">นามสกุล</label>
                                <input class="inp" id="last" disabled>
                            </div>
                            <div class="eachinput">
                                <label for="tel">เบอร์โทรศัพท์</label>
                                <input class="inp" id="tel" disabled>
                            </div>
                            <div class="eachinput">
                                <label for="email">E-mail</label>
                                <input class="inp" id="email" disabled>
                            </div>
                            <div class="eachinput">
                                <label for="carregis">ทะเบียนรถ</label>
                                <input class="inp" id="carregis" disabled>
                            </div> 
                        </div>
                        <div id="forinfor">
                            <h4>รายละเอียดการนัดหมาย</h4>
                            <div class="forwhatyouvedone">
                                <p class="header">รุ่นรถยนต์</p>
                                <p class="show" id="show-model">-</p>
                                <p class="header">ระยะทาง</p>
                                <p class="show" id="show-kilo">-</p>
                                <p class="header">ศูนย์บริการ</p>
                                <p class="show" id="show-branch">-</p>
                                <p class="header">วันเวลา</p>
                                <div id="showdatetime">
                                    <p class="show" id="show-date">-
                                    </p>
                                    <p class="show" id="show-time">-</p>
                                </div>
                            </div>
                            <div class="forwhatyouvedone">
                                <p class="header">รวมราคาอะไหล่และเคมีภัณฑ์</p>
                                <p class="show" id="show-price-chemi">-</p>
                                <p class="header">รวมค่าแรง</p>
                                <p class="show" id="show-price-labor">-</p>
                            </div>
                            <div id="total">
                                <p class="header-total">รวมค่าใช้จ่ายทั้งสิ้น</p>
                                <p class="show" id="show-price-total">-</p>
                            </div>
                            <div id="more">
                                <p>พนักงานจะทำการติดต่อกลับ</p>
                                <p>หากมีข้อสงสัยเพิ่มเติม สามารถติดต่อ 099 999 9999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- popup view -->
    <div id="popup-view">
        <div id="fori">
            <i class="fa-solid fa-xmark" id="bac" onclick="closeViewPopup()"></i>
        </div>
        <div id="content">
            <h4>รายละเอียดการนัดหมาย</h4>
            <div id="branch-box">
                <div id="image"></div>
                <div id="branch-text">
                    <h4 class="show">สาขาทุ่งหนองแจ๋ม</h4>
                    <p class="address">ที่อยู่</p>
                    <p class="telephone">เบอร์โทร</p>
                    <p class="openclose">
                        <span class="open">dd</span>
                        <span> - </span>
                        <span class="close">dd</span>
                    </p>
                </div>
            </div>
            <div id="inform-box">
                <div id="left">
                    <input type="hidden" id="servicehistoryid" class="popup-input" value="เปลี่ยนชื่อ" disabled>
                    <div class="inform-text">
                        <p class="header">บริการ</p>
                        <input type="text" id="edit-service" class="popup-input" value=""  disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">วัน</p>
                        <input type="date" id="edit-date-time" class="popup-input" value="" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">เวลา</p>
                        <select name="time" id="edit-time" class="popup-input" disabled>
                            <option value="1">ช่วงเช้า</option>
                            <option value="2">ช่วงบ่าย</option>
                            <option value="3">ช่วงเย็น</option>
                        </select>
                    </div>
                    <div class="inform-text">
                        <p class="header">รุ่นรถยนต์</p>
                        <input type="text" id="car" class="popup-input" value="-" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">ระยะทาง</p>
                        <input type="text" id="lenght" class="popup-input" value="-" disabled>
                    </div>
                </div>
                <div id="right">
                    <div class="inform-text">
                        <p class="header">ทะเบียนรถ</p>
                        <input type="text" id="edit-car-license"  class="popup-input" value="-" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">ชื่อสกุล</p>
                        <input type="text" id="edit-first-name" class="popup-input" value="" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">สกุล</p>
                        <input type="text" id="edit-last-name" class="popup-input" value="" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">เบอร์โทร</p>
                        <input type="text" id="edit-phone" class="popup-input" value="-" disabled>
                    </div>
                    <div class="inform-text">
                        <p class="header">E-mail</p>
                        <input type="text" id="edit-email" class="popup-input" value="-" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom">
            <button class="cancel-edit-button" onclick="cancel_edit()">ยกเลิก</button>
            <button class="edit-button" onclick="edit_info()">แก้ไขข้อมูล</button>
            <button class="save-button" onclick="save_info()">บันทึกข้อมูล</button>
        </div>
    </div>

    

    <!-- popup-delete -->
    <div  id="popup-delete">
        <div id="fori">
            <i class="fa-solid fa-xmark" id="bac" onclick="bac3()"></i>
        </div>
        <div id="content">
            <h4>ยืนยันที่จะลบการนัดหมายนี้หรือไม่</h4>
            <div class="inform-text">
                <button class="cancel-del-button" onclick="cancel_del()">ยกเลิก</button>
                <button class="confirm-del-button">ยืนยัน</button>
            </div>
        </div>
    </div>


    <div id="popup-ov"></div>

    <script src="admin_appointment.js"></script>
</body>
</html>

