<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appointment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Appointment</title>
</head>
<style>
    <style>
    a{
        color: white;
        text-decoration: none;
        font-size: 5vh;
        padding: 30px;
        font-weight: bold;
    }
.swal2-html-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}


.custom-popup p {
  font-size: 18px;
  color: #333;
  text-align: center;
}

.custom-popup {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>
<body>
    <div id="nav">
        <div id="nav-menu">
            <div id="fis">
                <p>Tyre-Out</p>
            </div>
            <div id="mid">
                <a href="/">หน้าหลัก</a>
                <p>|</p>
                <a href="/#promotion">โปรโมชัน</a>
                <p>|</p>
                <a href="/goods">สินค้า</a>
                <p>|</p>
                <a href="/#branch">ศูนย์บริการ</a>
                <p>|</p>
                <a href="/appointment">การนัดหมาย</a>
                <% if (email && email !== 'Guest') { %>
                    <p>|</p>
                    <a href="/history">ประวัติการนัดหมาย</a>
                <% } %>
            </div>
            <div id="las">
                <div id="hid-drop">
                    <div id="hid-drop-i" onclick="shownav()">
                        <i class="fa-solid fa-grip-lines"></i>
                    </div>
                    <div id="hid-drop-content">
                        <i class="fa-solid fa-xmark" id="bac" onclick="bac2()"></i>
                        <a href="/">หน้าหลัก</a>
                        <a href="/#promotion">โปรโมชัน</a>
                        <a href="/goods">สินค้า</a>
                        <a href="/#branch">ศูนย์บริการ</a>
                        <a href="/appointment">การนัดหมาย</a>
                        <% if (email && email !== 'Guest') { %>
                            <a href="/history">ประวัติการนัดหมาย</a>
                        <% } %>
                    </div>
                </div>
                <% if (email && email !== 'Guest') { %>
                    <a href="/login" class="disabled"><i class="fa-regular fa-user"></i></a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                <% } %>
            </div>
        </div>
    </div>
    <section id="main">
        <div id="bar">
            <div>
                <span class="cir cir-active">
                    <i class="fa-solid fa-car"></i>
                </span>
                <p class="txt">ข้อมูลรถยนต์</p>
            </div>
            <div>
                <span class="cir">
                    <i class="fa-solid fa-location-dot"></i>
                </span>
                <p class="txt">เลือกศูนย์บริการ</p>
            </div>
            <div>
                <span class="cir">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <p class="txt">เลือกวันเวลา</p>
            </div>
            <div>
                <span class="cir">
                    <i class="fa-solid fa-user"></i>
                </span>
                <p class="txt">ข้อมูลการติดต่อ</p>
            </div>
            <div id="line">
                <span id="indi"></span>
            </div>
        </div>
        <div id="box">
            <form action="">
                <div class="form-step form-step-active">
                    <div id="service">
                        <div id="forsel">

<!-- & dropdowm carchoose-->
                            <% if (email && email !=='Guest' ) { %>
                                <select name="carchoose" width="100%" class="drop" id="carchoose" onchange="carChoose()">
                                    <option value="" selected>รถของคุณ</option>
                                    <% cuscars.forEach(car=> { %>
                                        <!-- <option value="<%= car.carModel %> - <%= car.carYear %> - <%= car.carGrade %> - <%= car.carRegisNo %>"> -->
                                        <option value="<%= car.carModel %> - <%= car.carYear %> - <%= car.carGrade %> - <%= car.carRegisNo %>">
                                            <%= car.carModel %> - <%= car.carYear %> - <%= car.carGrade %> - <%= car.carRegisNo %>
                                        </option>
                                    <% }) %>
                                </select>
                            <%}%>

<!-- & dropdown รถยนต์ -->
                            <select name="sel1" class="drop" id="sel1" style="display: none;">
                                <option value="" selected>เลือกรุ่นรถยนต์</option>
                                <% let uniquecarmodel = new Set();
                                cars.forEach((element) => {
                                    uniquecarmodel.add(element.carModel);
                                });
                            uniquecarmodel.forEach((car) => { 
                        %>
                            <option value="<%= car %>"><%= car %></option>
                        <% }); %>
                                <!-- <option value="atemodel">รุ่นเสว</option> -->
                            </select>

<!-- & dropdown รุ่นปี -->
                            <select name="sel2" class="drop" id="sel2" style="display: none;">
                                <option value="" selected>เลือกรุ่นปี</option>
                                <% let uniquecaryear = new Set();
                                    cars.forEach((element) => {
                                        uniquecaryear.add(element.carYear);
                                    });
                                uniquecaryear.forEach((car) => { 
                            %>
                                <option value="<%= car %>"><%= car %></option>
                            <% }); %>
                                <!-- <option value="2525">2525</option> -->
                            </select>

<!-- & dropdown เกรดรถ -->
                            <select name="sel3" class="drop" id="sel3" style="display: none;">
                                <option value="" selected>เลือกเกรด</option>
                                <% let uniquecargrade = new Set();
                                    cars.forEach((element) => {
                                        uniquecargrade.add(element.carGrade);
                                    });
                                uniquecargrade.forEach((car) => { 
                            %>
                                <option value="<%= car %>"><%= car %></option>
                            <% }); %>
                                <!-- <option value="4">4.00</option> -->
                            </select>

<!-- & dropdowm mileage-->
                            <select name="sel4" class="drop" id="sel4">
                                <option value="" selected>เลือกระยะทาง</option>
                                <option value="15000">15,000 กม.</option>
                                <option value="30000">30,000 กม.</option>
                                <option value="45000">45,000 กม.</option>
                                <option value="60000">60,000 กม.</option>
                                <option value="75000">75,000 กม.</option>
                                <option value="90000">90,000 กม.</option>
                                <option value="105000">105,000 กม.</option>
                                <option value="120000">120,000 กม.</option>
                                <option value="135000">135,000 กม.</option>
                                <option value="150000">150,000 กม.</option>
                                <option value="135000">135,000 กม.</option>
                                <option value="165000">165,000 กม.</option>
                                <option value="180000">180,000 กม.</option>
                                <option value="195000">195,000 กม.</option>
                                <option value="210000">210,000 กม.</option>
                                <option value="225000">225,000 กม.</option>
                                <option value="240000">240,000 กม.</option>
                            </select>

<!-- & dropdowm ทะเบียนรถ-->
                            <% if (email && email !=='Guest' ) { %>
                                <input name="sel5" type="text" class="drop" placeholder="ทะเบียนรถ" id="sel5" style="display: none;">
                            <% } %>


                            <a href="/" style="color: #282828; text-decoration: underline;">ยังไม่มีรถใช่ไหม? เพิ่มรถโลด🗣️🗣️🗣️🗣️🗣️</a>
<!-- ^ ถ้าไม่ใช่ guest -->
                            
                        </div>
<!-- ^ ปิด ถ้าไม่ใช่ guest -->
                        <div id="but" >
                            <!-- <button class="btn" type="button" onclick="checkshowpop()">ถัดไป</button> -->
                            <% if (email && email !== 'Guest') { %>
                                <button class="btn" type="button" onclick="checkshowpopLoggedIn()">ถัดไป</button>                                
                            <% } else {%> 
                                <button class="btn" type="button" onclick="checkshowpopguest()">ถัดไป</button>                                
                            <%}%>
                        </div>
                    </div>
                    <div id="popup-bg">
                    <div id="fori">
                        <i class="fa-solid fa-xmark" id="bac" onclick="bac()"></i>
                    </div>
                    <div id="content"></div>
                </div>
                <div id="popup-ov" onclick="bac()"></div>
                </div>

<!-- TODO หน้าเลือกสาขา -->
                <div class="form-step">
    <!-- & โซนกล่อง ServiceBranch -->
                    <div id="bran">
                        <div id="select-branch">
        <!-- & dropdown select branch จังหวัดและอำเภอ -->
                            <select name="branchvince" class="drop" id="branchvince">
                                <option value="" selected>เลือกจังหวัด</option>
                                <% let uniqueProvinces = new Set();
                        servicebranches.forEach((element) => {
                            uniqueProvinces.add(element.province);
                        });
                        uniqueProvinces.forEach((province) => { 
                    %>  
                        <option value="<%= province %>"><%= province %></option>
                    <% }); %>
                            </select>
                            <select name="branch-district" class="drop" id="branch-district">
                                <option value="" selected>เลือกอำเภอ/เขต</option>
                            </select>
                            <button class="btn" id="btn-branch" type="button">ค้นหา</button>
                        </div>
                    <!-- & dropdown select branch จังหวัดและอำเภอ -->
                        <div id="branch-area">
                            <% servicebranches.forEach((element)=> { %>
                                <div id="branchh">
                                    <!-- <div id="forimg" style="background-image: url('/img/db/branch/ford-rama4.jpg');"></div> -->
                                    <div class="serimg">
                                        <div id="forimg" style="background-image: url('<%=element.branchPhotoURL%>'); height: 20vh;"></div>
                                    </div>
                                    <div id="fortext">
                                        <h3>
                                            <%=element.centerName%>
                                        </h3>
                                        <p>
                                            <%=element.address%>
                                            <%=element.subdistrict%>
                                            <%=element.district%>
                                            <%=element.province%>
                                            <%=element.postcode%>
                                        </p>
                                        <p>โทรศัพท์ <%=element.telephone%></p>
                                        <p>เปิดให้บริการเวลา <%=element.openTime%> - <%=element.closedTime%></p>
                                        <button class="bran-btn" id="bran-btn-nongjam" onclick="selectBranch('<%= element.centerId %>', '<%= element.centerName %>')" type="button">เลือก</button>
                                    </div>
                                </div>
                            <% }); %>
                        </div>

                        <div class="but-pn">
                            <button class="btn btn-prev" type="button">ย้อนกลับ</button>
                            <button class="btn btn-next" type="button">ถัดไป</button>
                        </div>
                    </div>
        <!-- & ปิด โซนกล่อง ServiceBranch -->
                </div>
        <!-- & เปิด โซนกล่อง วันที่ -->
                <div class="form-step">
                    <div id="day">
                        <div id="day-container">
                            <div id="forday">
                                <label for="reserve-day">เลือกวัน</label>
                                <input type="date" id="dateinput" name="reserve-day"/>
                            </div>
                            <div id="fortime">
                                <label for="reserve-day">เลือกเวลา</label>
                                <div class="fortime-container">
                                    <input type="radio" name="timeinput" id="timeinput-mor" value="ช่วงเช้า">ช่วงเช้า
                                    <!-- <input type="radio" name="timeinput" id="timeinput-mor" value="morning">ช่วงเช้า -->
                                </div>
                                <div class="fortime-container">
                                    <input type="radio" name="timeinput" id="timeinput-noon" value="ช่วงบ่าย">ช่วงบ่าย
                                    <!-- <input type="radio" name="timeinput" id="timeinput-noon" value="afternoon">ช่วงบ่าย -->
                                </div>
                                <div class="fortime-container">
                                    <input type="radio" name="timeinput" id="timeinput-even" value="ช่วงเย็น">ช่วงเย็น
                                    <!-- <input type="radio" name="timeinput" id="timeinput-even" value="evening">ช่วงเย็น -->
                                </div>
                            </div>
                        </div>
                        <div class="but-pn2">
                            <button class="btn btn-prev" type="button">ย้อนกลับ</button>
                            <% if (email && email !== 'Guest') { %>
                                <button class="btn btn-next" type="button" onclick="selectDateLoggedIn('<%= email %>')">ถัดไป</button> 
                            
                            <% } else { %>
                                <button class="btn btn-next" type="button" onclick="selectDate()">ถัดไป</button> 
                                <!-- ! ตรงนี้จะมี selectDate -->
                            <% } %>

                        </div>
                    </div>
                </div>
        <!-- & ปิด โซนกล่อง วันที่ -->

        <!-- & เปิด โซนกล่อง ใบเสนอราคา -->
                <div class="form-step">
                    <div id="persona-container">
                        <div id="persona">
                            
                            <% if (email && email !== 'Guest') { %>
                                <div class="forinput">
                                    <div class="eachinput">
                                        <label for="name">ชื่อ</label>
                                        <input type="text" class="inp" id="name" readonly>
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">นามสกุล</label>
                                        <input type="text" class="inp" id="last" readonly>
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">เบอร์โทรศัพท์</label>
                                        <input type="text" class="inp" id="tel" readonly>
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">E-mail</label>
                                        <input type="text" class="inp" id="email" readonly>
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">ทะเบียนรถ</label>
                                        <input type="text" class="inp" id="carregis" readonly>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="forlogin">
                                    <a href="/login" class="checklogin">เข้าสู่ระบบ</a>
                                    <p>หรือ</p>
                                    <button class="checklogin" id="checklogin">ดำเนินการโดยไม่เข้าสู่ระบบ</button>
                                </div>
                                <div class="forinput forinput-hidden" id="forinput">
                                    <div class="eachinput">
                                        <label for="name">ชื่อ</label>
                                        <input type="text" class="inp" id="name">
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">นามสกุล</label>
                                        <input type="text" class="inp" id="last">
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">เบอร์โทรศัพท์</label>
                                        <input type="text" class="inp" id="tel">
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">E-mail</label>
                                        <input type="text" class="inp" id="email">
                                    </div>
                                    <div class="eachinput">
                                        <label for="name">ทะเบียนรถ</label>
                                        <input type="text" class="inp" id="carregis">
                                    </div>
                                </div>
                            
                            <% } %>
                            <div id="forinfor">
                                <h4>รายละเอียดการนัดหมาย</h4>
                                <div class="forwhatyouvedone">
                                    <p class="header">รุ่นรถยนต์</p>
                                    <p class="show" id="show-model">-</p>
                                    <p class="header">ระยะทาง</p>
                                    <p class="show" id="show-kilo">-</p>
                                    <p class="header">ศูนย์บริการ</p>
                                    <p class="show" id="show-branch">-</p>
                                    <p class="header">วันเวลา</p>
                                    <div id="showdatetime">
                                        <p class="show" id="show-date">-
                                        </p>
                                        <p class="show" id="show-time"></p>
                                    </div>
                                </div>

                            <!-- & กล่องค่าอะไหล่ -->
                                <div class="forwhatyouvedone">
                                    <p class="header">รวมราคาอะไหล่และเคมีภัณฑ์</p>
                                    <p class="show" id="show-price-chemi">-</p>
                                    <p class="header">รวมค่าแรง</p>
                                    <p class="show" id="show-price-labor">-</p>
                                </div>
                                <div id="total">
                                    <p class="header-total">รวมค่าใช้จ่ายทั้งสิ้น</p>
                                    <p class="show" id="show-price-total">-</p>
                                </div>
                                <div id="more">
                                    <p>พนักงานจะทำการติดต่อกลับ</p>
                                    <p>หากมีข้อสงสัยเพิ่มเติม สามารถติดต่อ 099 999 9999</p>
                                </div>
                            </div>
                        </div>
                        <div class="but-pn2">
                            <button class="btn btn-prev" type="button">ย้อนกลับ</button>
                            <!-- <button type="submit" value="Submit" class="btn">นัดหมาย</button> -->
                            <% if (email && email !== 'Guest') { %>
                            <button type="button" class="xxx" onclick="bookingLoggedIn()">นัดหมาย</button>
                            <!-- * นัดหมายของ LoggedInUser -->
                            <% } %>
                            <button type="button" class="abc" onclick="booking()" style="display: none;">นัดหมาย</button>
                            <!-- * นัดหมายของ guest -->
                        </div>
                    </div>
                </div>
        <!-- & ปิด โซนกล่อง ใบเสนอราคา -->
            </form>
        </div>
    </section>
    <div id="popup-ov2" onclick="bac2()"></div>

    <script src="appointment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>