<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="goods.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Goods</title>
</head>

<body>
    <div id="nav">
        <div id="nav-menu">
            <div id="fis">
                <p>Tyre-Out</p>
                <h1 style="display: none;">Welcome, <%= email ? email : 'Guest' %>!</h1>
            </div>
            <div id="mid">
                <a href="/#main">หน้าหลัก</a>
                <p>|</p>
                <a href="/#promotion">โปรโมชัน</a>
                <p>|</p>
                <a href="/goods">สินค้า</a>
                <p>|</p>
                <a href="/#branch">ศูนย์บริการ</a>
                <p>|</p>
                <a href="/appointment">การนัดหมาย</a>
                <% if (email && email !=='Guest' ) { %>
                    <p>|</p>
                    <a href="/history">ประวัติการนัดหมาย</a>
                    <% } %>
            </div>
            <div id="las">
                <div id="hid-drop">
                    <div id="hid-drop-i" onclick="shownav()">
                        <i class="fa-solid fa-grip-lines"></i>
                    </div>
                    <div id="hid-drop-content">
                        <i class="fa-solid fa-xmark" id="bac" onclick="bac2()"></i>
                        <a href="/">หน้าหลัก</a>
                        <a href="/#promotion">โปรโมชัน</a>
                        <a href="/goods">สินค้า</a>
                        <a href="/#branch">ศูนย์บริการ</a>
                        <a href="/appointment">การนัดหมาย</a>
                        <% if (email && email !=='Guest' ) { %>
                            <a href="/history">ประวัติการนัดหมาย</a>
                            <% } %>
                    </div>
                </div>
                <% if (email && email !=='Guest' ) { %>
                    <a href="/login" class="disabled"><i class="fa-regular fa-user"></i></a>
                    <a href="/logout">Logout</a>
                    <% } else { %>
                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                        <span style="padding: 0; margin: 0; color: white;">
                            <%= email ? email : 'Guest' %>
                        </span>
                        <% } %>
            </div>
        </div>
    </div>
    <section id="main">
        <h1>รายการสินค้า</h1>
        <div id="goods">
            <% goods.forEach((element)=> { %>
                <div class="each-item">
                    <div class="item-pic" style="background-image: url('<%=element.goodsPhotoURL%>');"></div>
                    <h3><%=element.goodsBrand%> <%=element.goodsName%></h3>
                    <p><%=element.goodsDescription%></p>
                    <p>ราคา <%=element.goodsPrice%> บาท</p>
                </div>
            <% }); %>
        </div>
    </section>
    <script>
        function shownav() {
            document.getElementById("hid-drop-content").style.display = "block";
            document.getElementById("popup-ov2").style.visibility = "visible";
        }

        function bac2() {
            document.getElementById("hid-drop-content").style.display = "none";
            document.getElementById("popup-ov2").style.visibility = "hidden";
        }
    </script>
</body>

</html>