<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="history.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>History</title>
</head>
<body>
    <div id="nav">
        <div id="nav-menu">
            <div id="fis">
                <p>Tyre-Out</p>
            </div>
            <div id="mid">
                <a href="/#">หน้าหลัก</a>
                <p>|</p>
                <a href="/#promotion">โปรโมชัน</a>
                <p>|</p>
                <a href="/#branch">ศูนย์บริการ</a>
                <p>|</p>
                <a href="/appointment">การนัดหมาย</a>
                <p>|</p>
                <a href="/history">ประวัติการนัดหมาย</a>
            </div>
            <div id="las">
                <div id="hid-drop">
                    <div id="hid-drop-i" onclick="shownav()">
                        <i class="fa-solid fa-grip-lines"></i>
                    </div>
                    <div id="hid-drop-content">
                        <a href="/">หน้าหลัก</a>
                        <a href="/#promotion">โปรโมชัน</a>
                        <a href="/#branch">ศูนย์บริการ</a>
                        <a href="/appointment">การนัดหมาย</a>
                        <a href="/history">ประวัติการนัดหมาย</a>
                    </div>
                </div>
                <a href="login"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </div>
    <section id="main">
        <div class="tab">
            <input type="radio" id="tab1" name="tab" checked="checked">
            <!-- & tab นัดหมายยังไม่มาถึง -->
            <label for="tab1">ยังมาไม่ถึง</label>
            <div class="inside" id="coming">
                <div class="ins">
                    <!-- * กล่อง ใส่ ejs ตรงนี้ -->
                        <% data.forEach(element => { %>
                            <div class="app" onclick='showDetail(<%= JSON.stringify(element) %>)'>
                                <!-- <h4>บริการเช็คระยะ</h4>
                                <p>สาขาทุ่งมะขามป้อม</p>
                                <p>32 มกราคม 2525 ช่วงเย็น</p> -->
                                <h4><%= element.caseCategory %></h4>
                                <p><%= element.centerName %></p>
                                <p><%= element.caseStartDatetime %></p>
                            </div>
                        <% }); %>

                </div>
            </div>

            <!-- & tab นัดหมายผ่านมาแล้ว -->
            <input type="radio" id="tab2" name="tab">
            <label for="tab2">ผ่านมาแล้ว</label>
            <div class="inside" id="finish">
                <div class="ins">
                    <!-- * กล่อง ใส่ ejs ตรงนี้ -->
                    <div class="app">
                        <h4>บริการเช็คระยะ</h4>
                        <p>สาขาทุ่งมะขามป้อม</p>
                        <p>32 มกราคม 2525 ช่วงเย็น</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-bg">
            <div id="fori">
                <i class="fa-solid fa-xmark" id="bac" onclick="bac()"></i>
            </div>

            <!-- & สิ่งนี้คือ popup -->

            <!-- อันนี้เปิดขึ้นมาเพราะกด class ที่ชื่อ app -->
            <div id="content">
                <h4>รายละเอียดการนัดหมาย</h4>
                <div id="branch-box">
                    <div id="image"></div>
                    <div id="branch-text">
                        <h4 class="show" id="centerName">สาขาทุ่งหนองแจ๋ม</h4>
                        <p class="header" id="address">ที่อยู่</p>
                        <p class="header" id="telephone">เบอร์โทร</p>
                        <p class="header" id="time">เวลาเปิดปิด</p>
                    </div>
                </div>
                <div id="inform-box">
                    <div id="left">
                        <div class="inform-text">
                            <p class="header">บริการ</p>
                            <p class="show" id="caseCategory">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header" >วันเวลา</p>
                            <p class="show" id="caseStartDatetime">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header">รุ่นรถยนต์</p>
                            <p class="show" id="carModel">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header">ระยะทาง</p>
                            <p class="show" id="mileage">-</p>
                        </div>
                    </div>
                    <div id="right">
                        <div class="inform-text">
                            <p class="header">ทะเบียนรถ</p>
                            <p class="show">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header">ชื่อ - สกุล</p>
                            <p class="show">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header">เบอร์โทร</p>
                            <p class="show">-</p>
                        </div>
                        <div class="inform-text">
                            <p class="header">E-mail</p>
                            <p class="show">-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-ov" onclick="bac()"></div>
        <div id="popup-ov2" onclick="bac2()"></div>
    </section>
    <script src="history.js"></script>

    <script>
        console.log("Data from server:", <%- JSON.stringify(data, null, 2) %>);
    </script>

</body>
</html>