<!-- ! ยังไม่ได้อัพเดทตาม front -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Tyre-Out</title>
</head>
<style>
    .disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}
</style>
<body>
    <div id="nav">
        <div id="nav-menu">
            <div id="fis">
                <p>Tyre-Out</p>
                <h1>Welcome, <%= email ? email : 'Guest' %>!</h1>
            </div>
            <div id="mid">
                <a href="#main">หน้าหลัก</a>
                <p>|</p>
                <a href="#promotion">โปรโมชัน</a>
                <p>|</p>
                <a href="#branch">ศูนย์บริการ</a>
                <p>|</p>
                <a href="/appointment">การนัดหมาย</a>
                <p>|</p>
                <a href="/history">ประวัติการนัดหมาย</a>
            </div>
            <div id="las">
                <div id="hid-drop">
                    <div id="hid-drop-i" onclick="shownav()">
                        <i class="fa-solid fa-grip-lines"></i>
                    </div>
                    <div id="hid-drop-content">
                        <a href="/">หน้าหลัก</a>
                        <a href="#promotion">โปรโมชัน</a>
                        <a href="#branch">ศูนย์บริการ</a>
                        <a href="/appointment">การนัดหมาย</a>
                        <a href="/history">ประวัติการนัดหมาย</a>
                    </div>
                </div>
                <% if (email && email !== 'Guest') { %>
                    <a href="/login" class="disabled"><i class="fa-regular fa-user"></i></a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                <% } %>
            </div>
        </div>
    </div>
    <section id="main">
        <div id="check">
            <p>บริการเช็กระยะตามกำหนด</p>
            <div id="forsel">
                <select name="sel1" class="drop" id="sel1">
                    <option value="" selected>เลือกรุ่นรถยนต์</option>
                        <% let uniquecarmodel = new Set();
                            cars.forEach((element) => {
                                uniquecarmodel.add(element.carModel);
                            });
                        uniquecarmodel.forEach((car) => { 
                    %>
                        <option value="<%= car %>"><%= car %></option>
                    <% }); %>
                    <option value="atemodel">รุ่นเสว</option>
                </select>
                <select name="sel2" class="drop" id="sel2">
                    <option value="" selected>เลือกรุ่นปี</option>
                    <% let uniquecaryear = new Set();
                            cars.forEach((element) => {
                                uniquecaryear.add(element.carYear);
                            });
                        uniquecaryear.forEach((car) => { 
                    %>
                        <option value="<%= car %>"><%= car %></option>
                    <% }); %>
                    <option value="2525">2525</option>
                </select>
                <select name="sel3" class="drop" id="sel3">
                    <option value="" selected>เลือกเกรด</option>
                    <% let uniquecargrade = new Set();
                            cars.forEach((element) => {
                                uniquecargrade.add(element.carGrade);
                            });
                        uniquecargrade.forEach((car) => { 
                    %>
                        <option value="<%= car %>"><%= car %></option>
                    <% }); %>
                    <option value="4">4.00</option>
                </select>
                <select name="sel4" class="drop" id="sel4">
                    <option value="" selected>เลือกระยะทาง</option>
                    <option value="twentythousand">20,000 กม.</option>
                </select>
                <button class="btn" id="btn-service" onclick="checkshowpop()">ค้นหา</button>
            </div>
        </div>
    </section>
    <section id="promotion">
        <h1>โปรโมชันที่น่าสนใจ</h1>
        <div id="container">


            <% promotions.forEach((element)=> { %>
                <div class="pic" style="background-image: url('<%=element.promotionPhotoURL%>');">
                    <div class="overlay">
                        <!-- <h3>
                            <%=element.promotionName%>
                        </h3> -->
                        <!-- <button class="btn-p" onclick="showpop()">แสดงรายละเอียด</button> -->
                        <!-- <button class="btn-p" onclick="showpop(<%= JSON.stringify(element) %>)">แสดงรายละเอียด</button> -->
                        <button class="btn-p" onclick="showpromotion(<%= JSON.stringify(element) %>)">แสดงรายละเอียด</button>
                    </div>
                </div>
            <%});%>
            <!-- pop up มหาชน -->
                <div id="popup-bg">
                    <div id="fori">
                        <i class="fa-solid fa-xmark" id="bac" onclick="bac()"></i>
                    </div>

                    <div id="content"></div>

                </div>
                <div id="popup-ov" onclick="bac()"></div>
        </div>
    </section>


    <section id="branch">
        <h1>ศูนย์บริการ</h1>
        <div id="select-branch">
            <select name="branchvince" class="drop" id="branchvince">
                <option value="" selected>เลือกจังหวัด</option>
                <% let uniqueProvinces = new Set();
                        servicebranches.forEach((element) => {
                            uniqueProvinces.add(element.province);
                        });
                        uniqueProvinces.forEach((province) => { 
                    %>  
                        <option value="<%= province %>"><%= province %></option>
                    <% }); %>
            </select>
            <select name="branch-district" class="drop" id="branch-district">
                <option value="" selected>เลือกอำเภอ/เขต</option>
                <% let uniqueDistricts = new Set();
                servicebranches.forEach((element) => {
                    uniqueDistricts.add(element.district);
                        });
                uniqueDistricts.forEach((district) => { 
                    %>  
                <option value="<%= district %>"><%= district %></option>
                <% }); %>
            </select>
            <button class="btn" id="btn-branch">ค้นหา</button>
        </div>

        <% servicebranches.forEach((element)=> { %>
            <div id="branch-area">
                <div id="forimg" style="background-image: url('<%=element.branchPhotoURL%>');"></div>
                <div id="fortext">
                    <h3>
                        <%=element.centerName%>
                    </h3>
                    <p>
                        <%=element.address%>
                        <%=element.subdistrict%>
                        <%=element.district%>
                        <%=element.province%>
                        <%=element.postcode%>
                    </p>
                    <p>โทรศัพท์ <%=element.telephone%></p>
                    <p>เปิดให้บริการเวลา <%=element.openTime%> - <%=element.closedTime%></p>
                </div>
            </div>
        <% }); %>

    </section>
    <div id="popup-ov2" onclick="bac2()"></div>
    <script src="index.js"></script>

</body>

</html>